.redirect-button{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10vh;
}
.materia-content {
    text-align: center;
    color: hsl(0, 6%, 7%); 
}
.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    height: 50vh;          /* Altura do contêiner pai para fins de exemplo */
}


.img-arduino {
    background: url('industrial.png') no-repeat center center;
    background-size: cover;
    width: 900px;  /* Ajuste a largura conforme necessário */
    height: 300px; /* Ajuste a altura conforme necessário */
}
.img-tinkercad{
    background:url('tinkercad.png')no-repeat center center;
    background-size: cover;
    width: 150px;  /* Ajuste a largura conforme necessário */
    height: 150px; /* Ajuste a altura conforme necessário */

}
.img-wokwi{
    background: url('wokwi.png') no-repeat center center;
    background-size: cover;
    width: 900px;  /* Ajuste a largura conforme necessário */
    height: 300px; /* Ajuste a altura conforme necessário */
}
.img-C{
    background: url('c++.png') no-repeat center center;
    background-size: cover;
    width: 300px;  /* Ajuste a largura conforme necessário */
    height: 300px; /* Ajuste a altura conforme necessário */
}

.textarea{
    resize: none;
}
