/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.sidebar h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ddd;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #ccc;
}

.content {
    padding: 20px;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}

#content-container {
    margin-top: 20px;
}

.logo {
    display: block;
    max-width: 150px;
    height: auto;
    margin: 0 auto 20px auto; /* centraliza a imagem e adiciona espaço abaixo dela */
}

/* Estilos para dispositivos maiores */
@media (min-width: 600px) {
    body {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        text-align: left;
    }

    .content {
        margin-left: 250px;
        padding: 40px;
    }

    .sidebar h1 {
        font-size: 2em;
    }

    .sidebar ul li {
        font-size: 1.2em;
    }
}

/* Backgrounds específicos */
.background-inicial {
    background: url('./Inicial/imagem.jpeg') no-repeat center center;
    background-size: cover;
}

.background-automacao {
    background: url('imsgrm.jpg') no-repeat center center;
    background-size: cover;
}

.background-desenvolvimento {
    background: url('path/to/your/desenvolvimento-image.jpg') no-repeat center center;
    background-size: cover;
}

.background-banco {
    background: url('path/to/your/banco-image.jpg') no-repeat center center;
    background-size: cover;
}

.background-linguagem {
    background: url('path/to/your/linguagem-image.jpg') no-repeat center center;
    background-size: cover;
}

.background-ciencia {
    background: url('path/to/your/ciencia-image.jpg') no-repeat center center;
    background-size: cover;
}
