.redirect-button{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10vh;
}
.materia-content {
    text-align: center;
    color: #131111; 
}

.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    height: 30vh;          /* Altura do contêiner pai para fins de exemplo */
}

.img-PG {
    background: url('PgAdm.png') no-repeat center center;
    background-size: cover;
    width: 100px;  /* Ajuste a largura conforme necessário */
    height: 100px; /* Ajuste a altura conforme necessário */
    
}

.textarea{
    
    resize: none;
    width: 700px;
    height: 150px;
}