
.initial-content {
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #281f1f; 
}

.initial-content h2 {
    color: #0c0c0c;
    
}

.initial-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #100f0f;

}
