.redirect-button{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10vh;
}
.materia-content {
    text-align: center;
    color: #131111; 
}
.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    height: 50vh;          /* Altura do contêiner pai para fins de exemplo */
}

.img-HTML {
    background: url('HTML.png') no-repeat center center;
    background-size: cover;
    width: 250px;  /* Ajuste a largura conforme necessário */
    height: 250px; /* Ajuste a altura conforme necessário */
    
}

.img-CSS {
    background: url('CSS.png') no-repeat center center;
    background-size: cover;
    width: 250px;  /* Ajuste a largura conforme necessário */
    height: 250px; /* Ajuste a altura conforme necessário */
    
}

.img-JS {
    background: url('JS.png') no-repeat center center;
    background-size: cover;
    width: 250px;  /* Ajuste a largura conforme necessário */
    height: 250px; /* Ajuste a altura conforme necessário */
    
}
.img-calculadora {
    background: url('Calculadora.png') no-repeat center center;
    background-size: cover;
    width: 300px;  /* Ajuste a largura conforme necessário */
    height: 300px; /* Ajuste a altura conforme necessário */
    border-radius: 30px;
}

.textarea{
    
    resize: none;
    width: 700px;
    height: 150px;
}